/*-- scss:defaults --*/

// Base document colors
$body-bg: #ffffff;
$body-color: black;
$link-color: #5984DA;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$font-family-sans-serif: 'Rubik', sans-serif;

// Navigation element colors
// $footer-bg: #181818;
// $navbar-bg: #303030;
// $sidebar-bg: #303030;

// Code blocks
// $code-block-bg-alpha: -.8;

// Bootstrap popovers
// $popover-bg: #242424;

// Bootstrap inputs
// $input-bg: #242424;


/*-- scss:rules --*/
